{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="categories_list">
            <button class="new_category">
              <a href={% url 'admin:category_create' %}>
                новая категория
              </a>
            </button>

        {% for category in categories_list %}
              <div class="category_record
                    {% if category.is_active %}
                        active
                    {% endif %}">
                    <hr>
                    <br>
                    <div class="category_name">
                      category name: {{ category.name|title }}
                        <p>This category is:
                            <b>
                                {% if category.is_active %}
                                    Active
                                {% else %}
                                    Not Active
                                {% endif %}
                            </b>
                        </p>
                    </div>

                    <div class="category_desc">
                      category description: {{ category.description|title }}
                    </div>
                    <br>

                    <div class="category_actions">
                          <button>
                            <a href={% url 'admin:products' category.pk %}>
                              товары категории
                            </a>
                          </button>
                          <button>
                            <a href={% url 'admin:category_update' category.pk %}>
                              редактировать
                            </a>
                          </button>
                          <button>
                            <a href={% url 'admin:category_delete' category.pk %}>
                              удалить
                            </a>
                          </button>
                    </div>



              </div>
        {% endfor%}
    </div>

{% endblock %}
